{% extends 'base.html.twig' %}

{% block title %}{{ title_logo }}{% endblock title %}

{% block logo %}{{title_logo}}{% endblock logo %}

{% block Responsive_behaviors %}
<nav class="navbar navbar-expand-xl bg-dark" data-bs-theme="dark">
  {% endblock Responsive_behaviors %}

  {% block form %}

  {#Форма сохранения номеров деталей#}

  {{ form_start(form_save_part_numbers) }}
  <div class="row row-cols-auto text-center mt-2">

    <div class="col-auto">
      <div class="lb ">{{ form_label(form_save_part_numbers.part_number) }}</div>
      {{ form_widget(form_save_part_numbers.part_number, { 'attr': {'class': 'w-75'} }) }}
      {{ form_errors(form_save_part_numbers.part_number) |nl2br }}

    </div>


    <div class="col-auto">
      <div class="lb">{{ form_label(form_save_part_numbers.id_original_number) }}</div>
      {{ form_widget(form_save_part_numbers.id_original_number, { 'attr': {'class': 'w-75'} }) }}
      {{ form_errors(form_save_part_numbers.id_original_number) |nl2br }}
    </div>


    <div class="col-auto">
      <div class="lb">{{ form_label(form_save_part_numbers.manufacturer) }}</div>
      {{ form_widget(form_save_part_numbers.manufacturer, { 'attr': {'class': 'w-75'} }) }}
      {{ form_errors(form_save_part_numbers.manufacturer) |nl2br }}
    </div>


    <div class="col-auto">
      <div class="lb">{{ form_label(form_save_part_numbers.additional_descriptions) }}</div>
      {{ form_widget(form_save_part_numbers.additional_descriptions, { 'attr': {'class': 'w-75'} }) }}
      {{ form_errors(form_save_part_numbers.additional_descriptions) |nl2br }}
    </div>


    <div class="col-auto">
      <div class="lb">{{ form_label(form_save_part_numbers.id_part_name) }}</div>
      {{ form_widget(form_save_part_numbers.id_part_name, { 'attr': {'class': '#'} }) }}
      {{ form_errors(form_save_part_numbers.id_part_name) |nl2br }}
    </div>

    <div class="col-auto">
      <div class="lb">{{ form_label(form_save_part_numbers.id_car_brand) }}</div>
      {{ form_widget(form_save_part_numbers.id_car_brand, { 'attr': {'class': '#'} }) }}
      {{ form_errors(form_save_part_numbers.id_car_brand) |nl2br }}
    </div>

    <div class="col-auto">
      <div class="lb">{{ form_label(form_save_part_numbers.id_side) }}</div>
      {{ form_widget(form_save_part_numbers.id_side, { 'attr': {'class': '#'} }) }}
      {{ form_errors(form_save_part_numbers.id_side) |nl2br }}
    </div>

    <div class="row">

      <div class="col-auto">
        <div class="lb">{{ form_label(form_save_part_numbers.id_body) }}</div>
        {{ form_widget(form_save_part_numbers.id_body, { 'attr': {'class': '#'} }) }}
        {{ form_errors(form_save_part_numbers.id_body) |nl2br }}
      </div>

      <div class="col-auto">
        <div class="lb">{{ form_label(form_save_part_numbers.id_axle) }}</div>
        {{ form_widget(form_save_part_numbers.id_axle, { 'attr': {'class': '#'} }) }}
        {{ form_errors(form_save_part_numbers.id_axle) |nl2br }}
      </div>

      <div class="col-auto">
        <div class="lb">{{ form_label(form_save_part_numbers.id_in_stock) }}</div>
        {{ form_widget(form_save_part_numbers.id_in_stock, { 'attr': {'class': '#'} }) }}
        {{ form_errors(form_save_part_numbers.id_in_stock) |nl2br }}
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 d-grid gap-2">
      {{ form_widget(form_save_part_numbers.button_part_number, { 'label': 'Сохранить', 'attr': {'class': 'btn
      btn-danger'}}) }}
    </div>


    {{ form_end(form_save_part_numbers) }}
    <div class="col-auto m-3">
      {% for saving_information in arr_saving_information %}
      {% for information in saving_information %}
      {#{{ dump(saving_information) }}#}
      <h5>{{ information |nl2br }}</h5>
      {% endfor %}
      {% endfor %}
    </div>
    {% endblock form %}