{% extends 'base.html.twig' %}

{% block title %}{{ title_logo }}{% endblock title %}

{% block logo %}{{title_logo}}{% endblock logo %}

{% block Responsive_behaviors %}
<nav class="navbar navbar-expand-xl bg-dark" data-bs-theme="dark">
  {% endblock Responsive_behaviors %}

  {% block form_save %}

  {#Форма сохранения поступления деталей#}

  {{ form_start(form_save_counterparty) }}

  <div class="col-auto m-3">
    {{ form_label(form_save_counterparty.save_counterparty) }}
    {{ form_widget(form_save_counterparty.save_counterparty, { 'attr': {'class': 'ms-2 ps-3'} }) }}
    {{ form_errors(form_save_counterparty.save_counterparty) }}

  </div>



  <div class="col-auto m-3">
   {{ form_label(form_save_counterparty.save_mail_counterparty) }}
    {{ form_widget(form_save_counterparty.save_mail_counterparty, { 'attr': {'class': 'ms-5 ps-3'} }) }}
    {{ form_errors(form_save_counterparty.save_mail_counterparty) }}
  </div>


    <div class="col m-3">
      {{ form_widget(form_save_counterparty.button_save_counterparty, { 'label': 'Сохранить', 'attr': {'class': 'scb btn
      btn-danger'}}) }}
    </div>
  

  {{ form_end(form_save_counterparty) }}
  {% endblock form_save %}
