{% extends 'base.html.twig' %}

{% block title %}{{ title_logo }}{% endblock title %}

{% block logo %}{{title_logo}}{% endblock logo %}

{% block Responsive_behaviors %}
<nav class="navbar navbar-expand-xl bg-dark" data-bs-theme="dark">
  {% endblock Responsive_behaviors %}

  {% block form %}

  {#Переменный для вывода данных в форме #}

  {% if data_form_edit_participant_personal_account is iterable %}
  {% set email_find_id = data_form_edit_participant_personal_account.email|default('') %}
  {% set id_find_id = data_form_edit_participant_personal_account.id|default('') %}
  {% else %}
  {% set email_find_id = data_form_edit_participant_personal_account.getEmail()|default('') %}
  {% set id_find_id = data_form_edit_participant_personal_account.getId()|default('') %}
  {% endif %}

  {#Форма#}
  {#{{ dump(app.flashes('children[price]')[0]) }}#}
  {{ form_start(form_edit_participant_personal_account) }}
  <div class="container-fluid text-center mt-3">
    <div class="row">

      <div class="col-sm-3 col-md-3 col-lg-2">
        <div class="lb">{{ form_label(form_edit_participant_personal_account.email) }}</div>
        {{ form_widget(form_edit_participant_personal_account.email, { value : email_find_id,
        'attr': {'class': 'form-control w-100'} }) }}
        {{ form_errors(form_edit_participant_personal_account.email) |nl2br }}
        {% for message in app.flashes('[edit_email_error][Email]') %}
        {{ message }}
        {% endfor %}
      </div>

      <div class="col-sm-3 col-md-3 col-lg-2">
        <div class="lb">{{ form_label(form_edit_participant_personal_account.old_password) }}</div>
        <div class="input-group">
          {{ form_widget(form_edit_participant_personal_account.old_password,
          { 'attr': {'class': 'form-control rounded w-100', id: 'password1'} }) }}
          {{ form_errors(form_edit_participant_personal_account.old_password) |nl2br }}
          <button id="toggle-password" type="button">{{ ux_icon('bi:eye', {'height': '22', 'width': '18'}) }}</button>
        </div>
      </div>

      <div class="col-sm-3 col-md-3 col-lg-2">
        <div class="lb">{{ form_label(form_edit_participant_personal_account.password) }}</div>
        {{ form_widget(form_edit_participant_personal_account.password, { 'attr': {'class': 'form-control w-100'} }) }}
        {{ form_errors(form_edit_participant_personal_account.password) |nl2br }}
      </div>
    </div>

    {{ form_widget(form_edit_participant_personal_account.id, {value : id_find_id}) }}

    <div class="row my-2 pt-2">
      <div class="col-sm-9 col-lg-6">
        {{ form_widget(form_edit_participant_personal_account.button_participant,
        { 'attr': {'class': 'btn btn-secondary w-100'}}) }}
      </div>
    </div>
  </div>
  {{ form_end(form_edit_participant_personal_account) }}

  {% for messages in app.flashes(['delete','Error']) %}
  {% for message in messages %}
  <h5 class="mt-3 ms-3">{{ message }}</h5>
  {% endfor %}
  {% endfor %}

  <div class="m-3">
    {% if id %}
    <h5>Данные пользователя изменены </h5>
    {% endif %}
  </div>
  {% endblock form %}