{% extends 'base.html.twig' %}

{% block title %}{{ title_logo }}{% endblock title %}

{% block css_toggle_password %}
<link rel="stylesheet" href="{{ asset('css/show-password-toggle.min.css') }}" />
{% endblock css_toggle_password %}

{% block Responsive_behaviors %}
<nav class="navbar navbar-expand-xl bg-dark" data-bs-theme="dark">
  {% endblock Responsive_behaviors %}

{% block logo %}{{title_logo}}{% endblock logo %}

  {% block form %}

  {#Переменный для вывода данных в форме #}

  {% if data_form_edit_participant_personal_account is iterable %}
  {% set email_find_id = data_form_edit_participant_personal_account.email|default('') %}
  {% set id_find_id = data_form_edit_participant_personal_account.id|default('') %}
  {% else %}
  {% set email_find_id = data_form_edit_participant_personal_account.getEmail()|default('') %}
  {% set id_find_id = data_form_edit_participant_personal_account.getId()|default('') %}
  {% endif %}

  {#Форма#}
  {#{{ dump(app.flashes('children[price]')[0]) }}#}
  {{ form_start(form_edit_participant_personal_account) }}
  <div class="container-fluid text-center mt-3">
    <div class="row">

      <div class="col-sm-3 col-md-3 col-lg-2">
        <div class="lb">{{ form_label(form_edit_participant_personal_account.email) }}</div>
        {{ form_widget(form_edit_participant_personal_account.email, { value : email_find_id,
        'attr': {'class': 'form-control w-100'} }) }}
        {{ form_errors(form_edit_participant_personal_account.email) |nl2br }}
        {% for message in app.flashes('[edit_email_error][Email]') %}
        {{ message }}
        {% endfor %}
      </div>

      <div class="col-sm-3 col-md-3 col-lg-2">
        <div class="lb">{{ form_label(form_edit_participant_personal_account.old_password) }}</div>
        <div class="input-group">
          {{ form_widget(form_edit_participant_personal_account.old_password,
          { 'attr': {'class': 'form-control rounded w-100'} }) }}
          {{ form_errors(form_edit_participant_personal_account.old_password) |nl2br }}
          <button id="toggle-password" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" fill="currentColor" class="bi bi-eye"
              viewBox="0 0 16 16">
              <path
                d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
            </svg>
          </button>
        </div>
      </div>

      <div class="col-sm-3 col-md-3 col-lg-2">
        <div class="lb">{{ form_label(form_edit_participant_personal_account.password) }}</div>
        {{ form_widget(form_edit_participant_personal_account.password, { 'attr': {'class': 'form-control w-100'} }) }}
        {{ form_errors(form_edit_participant_personal_account.password) |nl2br }}
      </div>
    </div>

    {{ form_widget(form_edit_participant_personal_account.id, {value : id_find_id}) }}

    <div class="row my-2 pt-2">
      <div class="col-sm-9 col-lg-6">
        {{ form_widget(form_edit_participant_personal_account.button_participant,
        { 'attr': {'class': 'btn btn-secondary w-100'}}) }}
      </div>
    </div>
  </div>
  {{ form_end(form_edit_participant_personal_account) }}

  {% for messages in app.flashes(['delete','Error']) %}
  {% for message in messages %}
  <h5 class="mt-3 ms-3">{{ message }}</h5>
  {% endfor %}
  {% endfor %}

  <div class="m-3">
    {% if id %}
    <h5>Данные пользователя изменены </h5>
    {% endif %}
  </div>
  {% endblock form %}

  {% block js_toggle_password %}
    <script src="{{ asset('js/show-password-toggle.min.js') }}"></script>
    {% endblock js_toggle_password %}