{% extends 'base.html.twig' %}

{% block title %}{{ title_logo }}{% endblock title %}

{% block logo %}{{title_logo}}{% endblock logo %}

{% block Responsive_behaviors %}
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    {% endblock Responsive_behaviors %}

    {% block form %}
    <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
        <div class="mb-3">
            Вы вошли в систему как {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% endif %}
        <div class="container-fluid text-center mt-3">
            <div class="row">
                <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2">
                    <label for="username">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control"
                        autocomplete="email" required autofocus>
                </div>
                <div class="col-sm-5 col-md-4 col-lg-3 col-xl-2">
                    <label for="password">Password</label>
                    <input type="password" name="_password" id="password" class="form-control"
                        autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>

            {#Uncomment this section and add a remember_me option below your firewall to activate remember me
            functionality.
            See https://symfony.com/doc/current/security/remember_me.html#}
            <div class="row my-2 pt-2">
                <div class="col-auto">
                    <div class="checkbox">
                        <input type="checkbox" name="_remember_me" id="_remember_me">
                        <label for="_remember_me">Запомнить меня</label>
                    </div>
                </div>
            </div>
            <div class="row my-2 pt-2">
                <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
                    <button class="btn btn-primary w-100" type="submit">
                        Вход
                    </button>
                </div>
            </div>
        </div>
    </form>
    {% endblock form %}