<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
</head>

<body>
    <header class="sticky-top">
        {% block Responsive_behaviors %}{% endblock Responsive_behaviors %}
        <div class="container-fluid">
            <a class="navbar-brand fs-2 ps-3">{% block logo %}{% endblock logo %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto pe-4 mb-2 mb-lg-0">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item pe-2">
                        <a class="nav-link" href="{{ path('main_page')}}">Главная</a>
                    </li>
                    <li class="nav-item dropdown px-1">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            data-bs-auto-close="outside" aria-expanded="false">
                            Склад
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('search_auto_parts_warehouse')}}">Поиск</a></li>

                            <li class="btn-group dropend">
                                <a type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Сохранить
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('save_auto_parts_manually')}}">
                                            Сохранить в ручную
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('save_auto_parts_file')}}">
                                            Сохранить из файла
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('save_auto_parts_imap')}}">
                                            Сохранить из майла
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('save_auto_parts_api')}}">
                                            Сохранить по API
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('cart_warehouse')}}">Корзина</a></li>
                            <li class="btn-group dropend">
                                <a type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Сп. оплаты
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Поиск</a></li>
                                    <li><a class="dropdown-item" href="#">Сохранить</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link" role="button" aria-expanded="false"
                            href="{{ path('search_sales')}}">Продажи</a>
                    </li>
                    <li class="nav-item dropdown px-1">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Контрагент
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('search_counterparty')}}">Поиск</a></li>
                            <li><a class="dropdown-item" href="{{ path('save_counterparty')}}">Сохранить</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown ps-1">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                            data-bs-auto-close="outside" aria-expanded="false">
                            Детали
                        </a>
                        <ul class="dropdown-menu dropstart">
                            <li class="btn-group dropend">
                                <a type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Не оригинал
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('search_part_numbers')}}">Поиск</a></li>
                                    <li><a class="dropdown-item" href="{{ path('save_part_numbers')}}">Сохранить</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="btn-group dropend">
                                <a type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Оригинал
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('search_original_number')}}">Поиск</a></li>
                                    <li><a class="dropdown-item" href="{{ path('save_original_number')}}">Сохранить</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                    Прин-ть деталей
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="btn-group dropend">
                                        <a type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Название детали
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="dropdown-item" href="{{ path('search_part_name')}}">
                                                    Поиск
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{ path('save_part_name')}}">
                                                    Сохранить
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="btn-group dropend">
                                        <a type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Марка
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{{ path('search_car_brands')}}">Поиск</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                    href="{{ path('save_car_brands')}}">Сохранить</a></li>
                                        </ul>
                                    </li>
                                    <li class="btn-group dropend">
                                        <a type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Сторона
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{{ path('search_side')}}">Поиск</a></li>
                                            <li><a class="dropdown-item" href="{{ path('save_side')}}">Сохранить</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="btn-group dropend">
                                        <a type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Кузов
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{{ path('search_body')}}">Поиск</a></li>
                                            <li><a class="dropdown-item" href="{{ path('save_body')}}">Сохранить</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="btn-group dropend">
                                        <a type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Оси установки
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{{ path('search_axle')}}">Поиск</a></li>
                                            <li><a class="dropdown-item" href="{{ path('save_axle')}}">Сохранить</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="btn-group dropend">
                                        <a type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            Наличие
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{{ path('search_in_stock')}}">Поиск</a>
                                            </li>
                                            <li><a class="dropdown-item" href="{{ path('save_in_stock')}}">Сохранить</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                        </ul>

                    </li>

                    {% endif %}
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item px-2">
                        <a class="nav-link" role="button" aria-expanded="false"
                            href="{{ path('app_register')}}">Регистрация</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link" role="button" aria-expanded="false" href="{{ path('app_login')}}">Вход</a>
                    </li>
                    {% else %}
                    <li class="nav-item px-2">
                        <a class="nav-link" role="button" aria-expanded="false" href="{{ path('app_logout')}}">Выход</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </nav>
    </header>
    <main>
        {% block form %}
        {% endblock form %}
        {% block table %}
        {% endblock table %}
    </main>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>